<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include("./navbar.ejs") %>

    <!-- <section>
      <h2 class="aling-items:center">Welcome to My Blogs</h2>
      <p>
        here you can upload a new blog as your way
      </p>
    </section> -->
    <!-- Card Section -->
    <div class="card-container">
      <% blogdata.forEach((data)=>{ %>
      <div class="card">
        <img src="<%- data.image %>" alt="Blog Image" />
        <div class="card-title"><%- data.title %></div>
        <a href="/singleBlog/<%- data.id %>">Read more..</a>
    </div>

      <% }) %>
    </div>
  </body>
</html>
