<nav class="navbar">
    <div class="logo">My Website</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/login" style="color:white; background-color: green; border-radius: 10px;">Login</a></li>
        <li><a href="/signup" style="color:white; background-color: green; border-radius: 10px;">Signup</a></li>
    </ul>
</nav>